:root {
	--background-color: #222831;
	--theme-color: #017f85;
	--text-color: #eee;
}

* {
	font-size: 1.2rem;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--background-color) !important;
	color: var(--text-color) !important;
}

/* remove number field number spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}


.settings-button {
	text-decoration: underline;
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.settings-button:hover {
	color: var(--theme-color);
}

.durum-button {
	background-color: var(--theme-color);
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.card {
	background-color: var(--theme-color) !important;
}
